    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <ul class="event-list">
          <% @events.each do |event| %>
            <li>
              <time datetime="<%= format_datetime(event.start_at, "%Y-%m-%d %H:%M")%>">
                <span class="day"><%= event.start_at.strftime("%d") %></span>
                <span class="month"><%= event.start_at.strftime("%m") %></span>
                <span class="year"><%= event.start_at.strftime("%Y") %></span>
                <span class="time"><%= event.start_at.strftime("%H:%M") %></span>
              </time>
              <div class="info">
                <h2 class="title"><%= link_to event.title, event_path(event) %></h2>
                <div class="desc"><%= markdown(event.body) %></div>
                <ul>
                  <li style="width:33%;"><span class="fa fa-calendar"> <%= event.start_at.strftime("%H:%M") %></span></li>
                  <li style="width:34%;"><span class="fa fa-group"> <%= event.limit_num %></span></li>
                  <li style="width:33%;"><span class="fa fa-money"> <%= event.price %></span></li>
                <% end %>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
