<div class="container">
  <section class="main-content col-md-8">
    <h1 class="title"><%= @event.title %></h1>
    <h1 class="section-title">活动时间</h1>
    <%= @event.start_at.strftime("%Y-%m-%d %H:%M") %>
    <h1 class="section-title">活动地点</h1>
    <%= @event.address %>
    <h1 class="section-title">所需费用</h1>
    <%= @event.price %>
    <h1 class="section-title">活动介绍</h1>
    <%= markdown(@event.body) %>
    <h1 class="section-title">活动人数</h1>
    <%= @event.limit_num %>
  </section>
</div>

<p><%= link_to "Back to Events", events_path %></p>

<div class="container">
    <h1 class="section-title">评论</h1>

    <%= render "comments/comments" %>
    <%= render "comments/form" %>
</div>