<div>
  <span><%= @event.title %></span><br>
  <span><%= @event.subtitle %></span><br>
  <span><%= @event.body %></span><br>
  <span><%= @event.address %></span><br>
  <span><%= format_datetime(@event.start_at) %></span><br>
</div>